@import "../../themesandmixins.scss";

.wrapper {

    .chip {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
        max-height: 220px;
        border-radius: 32px;
        box-shadow: -15px 24px 31px -20px rgba(127, 132, 145, 1);
        
        // background image is set in the pug file
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &:hover {
      box-shadow: inset -13px -8px 104px -25px rgba(28, 157, 255, 0.87);
    } 
    .name{
        display: flex;
        .text-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            .text {
                margin-top: 8px;
                color: white;
                @include set-text-shadow(black);
           }
        }
    }
    .chip-details {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      background: transparent;
      padding-top: 8px;
      padding-bottom: 8px;

      .description {
        display: flex;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: white;
        font-size: 0.5em;
        line-height: 16px;
        opacity: 0.8;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 32px;
        padding-left: 16px;
        padding-right: 16px;
        color: black;
        // @include set-text-shadow(black);
      }
      .action-container {
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
        button {
          margin-right: 16px;
          opacity: 0.8;
          border-radius: 20px;
          background: cornflowerblue;
          @include set-text-shadow(black);
          &:hover {
            transform: scale(1.2);
            transition: 350ms ease-out;
          }
        }

        .mat-icon {
          color: white;
        }
      }
    }
  }
  


  /*******************************
  
    MOBILE VIEW STYLES
  
  ********************************/
  @media only screen and (max-width: 767px) and (orientation: landscape) {

    
  }

  @media only screen and (max-width: 767px) and (orientation: portrait) {

  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  }
}
