<div class="wrapper">
    <div class="chip" (click)="toggleShowDiv('divA')"  style="background-image: url({{imageSrc}})">
        <div class="name">
            <div class="text-container">
                <div class="text"> {{category.name.creoleText}}</div>
                <div class="text"> {{category.name.engText}} </div>
            </div>
        </div>

        <div class="chip-details" [@slideInOut]="animationState" (click)="$event.stopPropagation()"> 
            <div class="description"> {{ showCreoleDesc ? category.details.creoleText : category.details.engText }} </div>
            <div class="action-container">
                <button mat-raised-button (click)="onSelectCategory()" > Select </button>
                <button mat-mini-fab (click)="ontoggleDesc()">
                    <mat-icon>autorenew</mat-icon>
                  </button>
                <button mat-raised-button (click)="toggleShowDiv('divA')"> Close </button>
            </div>
        </div>
    </div>
</div>
