.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;

  .top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .header {
      color: white;
      font-size: 32px;
      font-weight: bold;
      margin-top: 8px;
      margin-bottom: 32px;
    }
    img {
      width: 25%;
      height: 10rem;
    }
  }

  .mid-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bottom-banner {
    display: flex;
    width: 100%;
    svg#clouds {
      z-index: 1;
      width: 100%;
      pointer-events: none;
    }
  }



  
  /*******************************
  
    MOBILE VIEW STYLES
  
  ********************************/
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .top-banner {
      img {
        width: 35%;
        height: 6rem;
      }
    }
  }

  @media only screen and (max-width: 767px) and (orientation: portrait) {
    .top-banner {
      img {
        width: 65%;
        height: 12rem;
      }
    }

  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top-banner {
      img {
        width: 55%;
        height: 11rem;
      }
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  
  @media only screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    
  
  }
}


